BODY{
	background-image: url("images/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

TABLE{
	table-layout:fixed;
	width:80%;
	border:2px solid #fff;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
td,tr{
	width:25%;
	border:2px solid #fff;
	background-color:#242333;
}
th{
	background-color:#6feaf6;
	color:black;
}
a:hover,a:active{
	color: yellow;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
div {
  background-color: lightblue;
  text-align:center;
}

footer{
   position: fixed;
  left: 0;
   bottom: 0;
   width: 100%;
   background-color:lightblue;
   color: white;
   text-align: center;
}